@import url("https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans:wght@600&display=swap");

html {
  overflow: hidden;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 0px;
  display: none;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background-color: #fff;
}

.switch {
  align-self: flex-end;
  margin: 0.9375rem;
}
.inner-switch {
  display: inline-block;
  cursor: pointer;
  border: 1px solid #555;
  border-radius: 1.25rem;
  width: 3.125rem;
  text-align: center;
  font-size: 1rem;
  padding: 0.1875rem;
  margin-left: 0.3125rem;
}
.dark,
.dark * {
  
  }

p {
  font-size: 1.1em;
  font-family: "Open Sans", sans-serif;
}

/* Prelaoder */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader img {
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  animation: fadeInAnimation ease-in 0.8s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Navbar */
.navbar {
  padding-top: 8px;
  padding-bottom: 1px;
}
@media only screen and (max-width: 768px) {
  .navbar {
    padding-top: 7px;
  }
}
.icon-bar {
  width: 22px;
  height: 2px;
  background-color: #000;
  display: block;
  transition: all 0.2s;
  margin-top: 4px;
}

.navbar-toggler {
  border: none;
  background: transparent !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.icon-bar:focus {
  outline: none;
  box-shadow: none;
}

.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
  opacity: 0;
}

.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}
.navbar-brand {
  font-size: 26px;
  position: relative;
  z-index: 0;
}
.navbar-brand:after {
  position: absolute;
  top: 50%;
  left: -15px;
  width: 40px;
  height: 40px;
  content: "";
  background: #3fd45b;
  z-index: -1;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.navbar-brand span {
  color: #fff;
}
.navbar .navbar-nav .nav-link.active {
  color: #070707 !important;
}

.nav-item {
  position: relative;
  font-size: 0.9rem;
}
.navbar .navbar-nav li a::after {
  width: 0;
  content: "";
  height: 2.5px;
  background-color: #3fd45b;
  position: absolute;
  bottom: 1px;
  left: 0;
  border-radius: 50px;
  transition: width 0.3s ease;
}

.navbar .navbar-nav li a.active::after {
  width: 100%;
}

#experience {
  min-height: 300px;
}

/* Home Overlay */
.hero-wrap {
  width: 100%;
  height: 100vh;
  position: inherit;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero-wrap .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  opacity: 0.1;
  width: 50%;
  background: #3fd45b;
}
.hero-wrap .text {
  width: 100%;
}
/* Slider Text */
.slider-text .subheading {
  font-size: 24px;
  font-weight: 900;
  color: #3fd45b;
  letter-spacing: 2px;
}

.slider-text h1 {
  font-size: 40px;
  font-weight: 700;
}
@media (max-width: 767.98px) {
  .slider-text h1 {
    font-size: 40px;
  }
}

.slider-text h2 {
  font-weight: 600;
}
.slider-text h2 span {
  color: #3fd45b;
  text-decoration: underline;
}
.mouse {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 120px;
  z-index: 2;
}

.mouse-icon {
  width: 70px;
  height: 70px;
  border: 1px solid transparent;
  cursor: pointer;
  position: relative;
  text-align: center;
  margin: 0 auto;
  display: block;
}
.mouse-icon:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  background: #edf0ff;
  z-index: -1;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.mouse-wheel {
  height: 70px;
  margin: 2px auto 0;
  display: block;
  width: 30px;
  background: transparent;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -webkit-animation: 1.9s ease infinite wheel-up-down;
  -moz-animation: 1.9s ease infinite wheel-up-down;
  animation: 1.9s ease infinite wheel-up-down;
  color: #3fd45b;
  font-size: 30px;
}

.cpp, .c, .python, .html, .css, .ml {
      text-align: center;
      font-weight: bolder;
      padding-top: 3px;
      padding-bottom: 3px;
      color: white;
      border-radius: 20px;
      margin-bottom: 7px;
   }
   .cpp {
      width: 60%;
      background-color: #4caf50;
   }
   .c {
      width: 80%;
      background-color: #2196f3;
   }
   .python {
      width: 80%;
      background-color: #f44336;
   }
   .html {
      width: 70%;
      background-color: #2b5bfa;
   }
   .css {
    width: 70%;
    background-color: #f33895;
 }
 .ml {
  width: 70%;
  background-color: #f3c738;
}

@-webkit-keyframes wheel-up-down {
  100% {
    margin-top: 25px;
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  0% {
    margin-top: -10px;
    opacity: 0;
  }
}

@-moz-keyframes wheel-up-down {
  100% {
    margin-top: 25px;
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  0% {
    margin-top: -10px;
    opacity: 0;
  }
}

@keyframes wheel-up-down {
  100% {
    margin-top: 25px;
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  0% {
    margin-top: -10px;
    opacity: 0;
  }
}

h6 {
  color: rgba(0, 0, 0, 0.822);
  text-transform: uppercase;
  font-size: 1.3em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
h6 span {
  background: #fff;
  margin: 0 15px;
}
h6:before,
h6:after {
  background: rgba(0, 0, 0, 0.822);
  height: 2px;
  flex: 1;
  content: "";
}
h6.left:after {
  background: none;
}
.underline-magical {
  background-image: linear-gradient(180deg, #3fd45b 100%, #3fd45b 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
}
.underline-magical:hover {
  color: #fff;
  background-size: 100% 100%;
}
.resume {
  border-radius: 20px;
  font-size: small;
}
.resume:hover {
  background-color: #fff;
  color: #151515;
  transition: 0.3s ease-in;
}
a.btn.btn-primary.resume:focus {
  outline: none;
  box-shadow: none;
}

/* Progress Bar */
.progress {
  height: 0.3em;
}
.progress-bar {
  background-color: #191919;
}

.equal .card {
  height: 100%;
}
.equal {
  display: flex;
  flex-wrap: wrap;
}

.card {
  border-radius: 10px;
  border-top: 2px solid #3fd45b;
}